.msg-box {
    background: #F3F3F3;
    border-radius: 20px;
    padding: 5px 20px;
    color: white;
    display: inline-block;
    max-width: 80%;
  }
  
  .msg-text {
    width: 100%;
    letter-spacing: 0;
    float: left;
    font-size: 1.1em;
    word-wrap: break-word;
  }
  
  .msg-text img {
    vertical-align: middle;
  }
  
  .msg-container {
    display: flex;
    justify-content: flex-end;
    padding: 0 5%;
    margin-top: 3px;
  }

  /* .info-text {
    display: flex;
    justify-content: flex-end;
  } */
  
  .sent-text {
    display: flex;
    align-items: center;
    font-family: Helvetica;
    color: #828282;
    letter-spacing: 0.3px;
  }

  .timestamp {
    font-size: 0.8em;
    display: flex;
    align-items: center;
    color: #828282;
    margin-right: 5px;
  }
  
  .pl-10 {
    padding-left: 10px;
  }
  
  .pr-10 {
    padding-right: 10px;
  }
  
  .justify-left {
    justify-content: flex-start;
  }
  
  .justify-right {
    justify-content: flex-end;
  }
  
  .txtcolor-currentuser {
    color: white;
  }
  
  .txtcolor-otheruser {
    color: #353535;
  }
  
  .bg-currentuser {
    background: #2979FF;
  }
  
  .bg-otheruser {
    background: #F3F3F3;
  }

  @media (min-width: 320px) and (max-width: 480px) {
    .msg-container {
      flex-direction: column;
    }
  }